*.in
*.lo
*.la
*.o
*.pc
*.log
*.trs
**/.deps/
**/.libs/
**/Makefile
autom4te.cache/
m4/
aclocal.m4
compile
configure
config.guess
config.log
config.status
config.sub
depcomp
INSTALL
install-sh
libtool
ltmain.sh
missing
src/test
test-driver
